body {
    padding-top: 70px;
}

.week {
  text-decoration: none;
  font-size: 1.4em;
  list-style: none;
  line-height: 1.6;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #777;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.trackable {
  cursor: pointer
}
.selected {
  background-color: rgb(210,140,131)
}