<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.7/highcharts.js", "chartkick" %>
<h1>Report</h1>

<div class="center">
    <h3>Overview</h3>
</div>
<%= pie_chart @name_hours %>

<%= button_to 'Refresh data', action: 'refresh' %>
