
<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <ul>
  </ul>
</nav>
 -->
<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Jiffy Analysis', root_path, id: 'logo' %>
      <nav>
        <ul class="nav pull-left">
        <li><%= link_to 'Goals', new_goal_path %></li>
        <li><%= link_to 'Relink Goals', controller: 'goals', action: 'relink' %></li>
        <li><%= link_to 'Weeks', weeks_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>